#search {
  padding-top: 10px;
  .center-title{
    margin-bottom: 10px;
  }
}

#search-item {
  margin-bottom: 20px;
  height: 320px;
  .btn {
    margin-top: 0px;
  }
}

.scroll{
	overflow: scroll;
	height: 450px;
}
