<!--footer start-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <h2>Yoga Story</h2>
                        <p>
                            Yoga for everyone. Everywhere
                        </p>
                        <div class="space-20"></div>
                        <a href='/lessons' class="btn btn-skin btn-radius btn-lg"><%= t('.try') %></a>
                    </div>
                     <div class="col-sm-4 margin-b-30">
                        <h2><%= t('.contact') %></h2>
                        <ul class="list-unstyled clearfix">
                            <li class="clearfix">
                                <i class="fa fa-map-marker"></i>
                                <span>12ter, rue des Tours - 59000 LILLE</span>
                            </li>
                             <li class="clearfix">
                                <i class="fa fa-envelope-o"></i>
                                <span><a href='#'>contact@yogastory.fr</a></span>
                            </li>
                             <li class="clearfix">
                                <i class="fa fa-phone"></i>
                                <span>+01 1234 434-345</span>
                            </li>
                        </ul>
                    </div><!--col4 end-->
                     <div class="col-sm-4 margin-b-30">
                        <h2><%= t('.social_links') %></h2>
                        <ul class="list-inline clearfix">
                            <li><a href='#'><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href='#'><i class="fa fa-twitter"></i></a></li>
                            <li><a href='#'><i class="fa fa-google-plus"></i></a></li>
                            <li><a href='#'><i class="fa fa-linkedin"></i></a></li>
                            <li><a href='#'><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div><!--col4 end-->
                </div><!--row end-->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="footer-bottom">
                             <ul class="list-inline">
                            <li><a href='#'>Home</a></li>
                            <li><a href='#'>News</a></li>
                            <li><a href='#'>Help</a></li>
                            <li><a href='#'>Terms</a></li>
                            <li><a href='#'>Privacy</a></li>
                        </ul>
                        <span>&copy; Copyright 2016. Made with love @ LeWagon</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->
