<div class="banner">
    <div class="banner-content">
      <h1><%= t('.tagline') %></h1>
      <a class="btn btn-primary btn-lg"><%= t('.sub_title') %></a>
    </div>
  </div>
  <div class="container text-center">
    <h2><%= t('.help') %></h2>
  </div>
