<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBK0ypmAk4cPq30qJgeKeY7VczWKzH2tr0">
</script>

<script type="text/javascript" src="autocomplete.js"></script>

  <div class="banner">
    <div id="navbar-transparent">

    </div>
    <div class="banner-content">
      <h1><%= t('.tagline') %></h1>
      <a class="btn btn-primary btn-lg"><%= t('.sub_title') %></a>
    </div>
  </div>
  <div class="container text-center">
    <h2><%= t('.help') %></h2>
  </div>

<%= render 'search' %>
