<div class="banner">
  <div id="navbar-transparent">
    <%= render 'shared/navbar' %>
  </div>
  <div class="banner-content">
    <h1><%= t('.tagline') %></h1>
    <a class="btn btn-primary btn-lg">Find a yoga class</a>
  </div>
</div>
<%= render 'shared/footer' %>
