#footer {
  background: $red;
  padding: 30px 0;
  color: #CCCCCC;
  height: 80px;
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
#footer p {
  margin-top: 17px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: #CCCCCC;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: $yellow;
}
