.navbar-nav{
	float: right;
	font-size: 16px;
  @media screen and (max-width: 768px) { 
    float: initial
  }	
}

i {
	font-style: normal;
}

.header-v2 .navbar-nav>li>a {
    text-transform: uppercase;
}