<section id="home" class="home-newsletter">
    <div class="row no-margin">
        <div class="col-sm-12 center-title">
            <h2><i class="fa fa-user"></i> <%= t(".profile_teacher", default: "Profile") %></h2>
        </div>
    </div>
</section>

<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="wrapper-grey">
          <%= render 'form_teacher' %>
        </div>
      </div>
    </div>
  </div>
</section>
