.btn-green {
  background-color: $green;
  color: $gray;
}

.btn-grey {
  background-color: $gray-light;
}

.btn-black {
  background-color: #323a45;
  color: $gray-lighter;
  &:hover{
    background-color: #323a45;
    color: $gray-lighter;
  }
}

.btn-greylight {
  background-color: #FFFFFF;
  color: $gray;
  &:hover {
    background-color: #323a45;
    color: $gray-lighter;
  }
}
