.datepicker-btn-padding {
  padding-top: 29px;
  @media (max-width: 768px) {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}
.form {
  margin-bottom: 40px;
}
.form-control {
	height: 47px;
	width: 110%;
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 5px;
  }
}

.assan-contact .form-control {
  border: 1px solid #ccc;
}

.contact-section{
  .form-control {
    font-size: 14px;
    border: 1px;
    width: 100%;
  }

  .wrapper-grey {
    padding: 35px;
  }

  .center-title {
  margin-bottom: 30px;
  }

  .btn {
    background-color: $red;
    margin-top: 30px;
    color: $gray-lighter;
  }
}

.control-label {
  font-weight: lighter;
}

.checkbox_container input {
  display: inline;
}
//
// .btn.teacher {
//   max-width: 200px;
//   word-wrap: break-word;
//   margin-left: 30px;
//   padding-left: 0px;
//   padding-right: 0px;
// }
//
.profil_avatar{
  padding-top: 40px;
}
