.form {
  margin-bottom: 40px;
}

.form-control {
	height: 47px;
	width: 110%;
}

.assan-contact .form-control {
  border: 1px solid #ccc;
}

.contact-section{
    .form-control {
    font-size: 14px;
    border: 1px;
    width: 100%;
  }

  .wrapper-grey {
    padding: 35px;
  }

  .center-title {
  margin-bottom: 30px;
  }

  .btn {
    background-color: $red;
    margin-top: 30px;
    color: $gray-lighter;
  }
}

.control-label {
  font-weight: lighter;
}
