// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

// Vendor CSS
@import "style";


body {
  padding-top: 80px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.alert-blue {
  background: $blue;
}
