// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teacher{
  padding: 30px;
}

.message {
  word-wrap: normal;
  font-size: 14px;
}

.teacher-show {
  .icon {
    color: $red;
  }
}

.teacher_description {
  font-size: 15px;
}
